* {
    font-family: arial;
}

body {
    margin: 20px;
}

h2 {
    text-align: center;
    color: pink;
}

a {
    color: rgb(59, 150, 142);
    text-decoration: none;
    float: right;
}

a:hover {
    text-decoration: underline;
}